*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg, i {
  display: block;
  max-width: 100%;
  -webkit-user-drag: none;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p, h1, h2, h3, h4, h5, h6, li, a {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
p {
  text-wrap: pretty;
}
a {
  -webkit-user-drag: none;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}
button {
  all: unset;
}
/* For Accesibility */
a:focus-visible, button:focus-visible, .custom-button:focus-visible {
  outline: none !important;
  box-shadow: 0 0 0 3px orange !important;
}